<!DOCTYPE html>
<html>
<head>
  <title>ReliquaryTower</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ReliquaryTower">



<%= yield %>

</body>
</html>
